/*------en-tete-----*/
#vercors {box-shadow:0px 0px 10px 2px rgb(173, 117, 168);
			 border-radius: 5px;
			 width: 701px;
			 height: 239px;
			 background-image: url(../img/Vercors.jpg);
      	 background-position:top;
			 background-repeat:no-repeat;
		    z-index:9999;                /*superposition derriere developont*/
}

#developont{width: 275px;
  		 	   height: 200px;
  		 	   z-index: 1;                /*superposition devant vercors */
  		 	   margin-top: 2%;
  		 	   text-align: center;
   			vertical-align: middle;
   			/*-o-transition-property: all;
  				-o-transition-duration: 500ms; on aurait pu écrire 500ms également
  				-o-transition-timing-function: ease-in;
  				-o-transition-delay: 1s;*/
}

header{display: table;
		 margin-left: auto;
		 margin-right: auto;
		 text-align: center;
}

nav{display: table;
}

nav ul li{display: inline;
			 text-decoration: none;
			 border: 2px dotted rgb(173, 117, 168);
			 border-radius: 5px;
			 padding-left: 10px;
			 padding-right: 10px;
			 margin-left: 1px;
			 margin-right: 1px;
			 text-align: center;
			 font-size: 150%;		  
}
/*--------fin en-tete-------*/
			
/*--------Corps--------*/			
body {background-image:linear-gradient(#ABEBC6, #F9E79F) ;
}

section {margin-left: 50px;
			display: inline;
			text-align: center;
}

			/*-----cadre principal----*/
.contener {margin-left: 5%;
			  margin-right: 5%;
			  margin-top: 2.5%;
			  margin-bottom: 2.5%;
			  padding: 5%;
			  border: 1px solid rgb(173, 117, 168);
			  border-radius: 5px;
			  box-shadow: 0px 0px 10px 2px rgb(173, 117, 168);
}

			/*-----titre avec effet------*/
h1 {color: rgb(152, 88, 146);
	 font-size: 4em;
	 font-weight: bold;
	 border-radius: 5px;
 	 text-shadow: 2px 2px rgb(146, 69, 19);
	 text-align: center;
}
	
hr {width: 100px;
	 vertical-align: middle;
	 display: inline-block;
	 margin: 0 15px 0 15px;
	 height: 3px;
	 background-color: rgb(152, 88, 146);
	 box-shadow: 2px 2px rgb(146, 69, 19);
	 border: none;
	 text-align: center;	
}

li {list-style-type: circle;
	list-style-position: inside;
}

.accueil, footer {
		   margin-left: 50px;
			margin-right: 30px;
			text-align: center;
}


		/*------lien internet-------*/
a:link {color: black;
		  text-decoration: none;
}

a:visited {color:black;
}

a:hover {background-color: rgb(70, 224, 135);
			
}

aside {float: right;
}

#lieu {float: right;
		 margin-left: 50px;
		 width: 20%;
		 height: 20%;
}

#iframe{float: left;
		  padding-right: 15px;
		
}

#usine {float:right;
margin-right: 5px;
}

#pont{text-align: justify;
}

#photo{margin-left: 70px;
		box-shadow:0px 0px 10px 2px rgb(173, 117, 168); 
}

.pedagogie {text-align: center;
} 

/*--------fin corps--------*/

/*--------pied-page--------*/
footer{margin: auto;
		 display: table;
}

td{border: 2px dotted rgb(173, 117, 168);
	border-radius: 5px;
}

table{display: inline-block;
		text-align: center;
		margin: 2em;
}


/*-------fin pied-page-------*/

	