<header>
		<div id="vercors">

			<img id="developont" src="img/logo-developont.png" alt="">

		</div>

		<nav>
			<ul>
				<li><a href="DeveloPont.php"> Accueil</a></li>
				<li><a href="Localisation.php" >Localisation</a></li>
				<li><a href="Promo-2017.php">Promo 2017</a></li>
				<li><a href="Programmation.php">Programme Formation</a></li>
			</ul>
				
		</nav>
		
</header>		


	