<footer>
		<table>
			<tr>
				<th colspan="3">Nos coordonées</th>
			</tr>
			<tr>
				<td>mail</td>
				<td>adresse</td>
				<td>numéro de téléphone</td>
			</tr>
			<tr>
				<td><a href="developpont.gmail.com" target="_blank">developpont@gmail.com</td>			
				<td>EPN du Royans<br>Grande rue<br>38680 Pont-en-Royans</td>
				<td>04 76 64 19 96 (M.J.V)</td>			
			</tr>
		</table>
		
		<table>	
			<tr>
				<th colspan="2">Nous suivre</th>
			</tr>
			<tr>	
				<td><a href="https://www.twitter.fr/" target="_blank"> Twitter</a></td>
				<td><a href="https://fr-fr.facebook.com/developont/" target="_blank"> Facebook</a></td>	
			</tr>
		</table>		
</footer>		

		
